@model IEnumerable<TallerFinal.Models.Vehiculo>
@if (Session["tipo"].ToString().Equals("Propietario"))
{

    {
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Propietario.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Persona.PersonaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nro_Placa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dia_Restriccion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Persona.PersonaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nro_Placa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dia_Restriccion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PersonaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PersonaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PersonaId })
        </td>
    </tr>
}

</table>
    
}
else
{
    <h1>USUARIO NO VALIDO!!!!</h1>
}

