@model TallerFinal.Models.Servicio

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Operador.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Servicio</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ServicioId)

        <div class="form-group">
            @Html.LabelFor(model => model.Tarifa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tarifa)
                @Html.ValidationMessageFor(model => model.Tarifa)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fecha, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fecha)
                @Html.ValidationMessageFor(model => model.Fecha)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DireccionOrigen, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DireccionOrigen)
                @Html.ValidationMessageFor(model => model.DireccionOrigen)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DireccionDestino, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DireccionDestino)
                @Html.ValidationMessageFor(model => model.DireccionDestino)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClienteId, "ClienteId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ClienteId", String.Empty)
                @Html.ValidationMessageFor(model => model.ClienteId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Operador, "Operador", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Operador", String.Empty)
                @Html.ValidationMessageFor(model => model.Operador)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Conductor, "Conductor", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Conductor", String.Empty)
                @Html.ValidationMessageFor(model => model.Conductor)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
