@model TallerFinal.Models.Persona

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Propietario.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Persona</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Procedencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Procedencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Materno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Materno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Celular)
        </dd>

    </dl>
</div>
<div class="row">
    <div class="col-sm-4">
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#licencia">Licencia</button>
        <div>
            @if (Model.Licencia_Conducir != null)
            {
                <div id="licencia" class="collapse">
                    <a>Categoria: @Model.Licencia_Conducir.Categoria</a><div></div>
                    <a>Fecha de Vencimiento: @Model.Licencia_Conducir.Fecha_Expiracion</a><div></div>
                    <div>
                        @Html.ActionLink("Edit", "Edit", "Licencia", new { id = Model.PersonaId }, new { @class = "btn btn-warning" })
                        @Html.ActionLink("Delete", "Delete", "Licencia", new { id = Model.PersonaId }, new { @class = "btn btn-danger" })
                    </div>
                </div>
            }
        </div>
        @if (Model.Licencia_Conducir == null)
        {
            <div id="addLicencia" style="display:inline">
                @Html.ActionLink("Añadir Licencia", "Create", "Licencia", new { personaid = Model.PersonaId }, new { @class="btn btn-success"})
            </div>
        }
    </div>
    <div class="col-sm-6">
        <div class="col-sm-6">
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#vehiculo">Vehiculo</button>
            <div >
                @if (Model.Vehiculo != null)
                {
                    <div id="vehiculo" class="collapse">
                        <a>Marca: @Model.Vehiculo.Marca</a>
                        <a>Modelo: @Model.Vehiculo.Modelo</a>
                        <a>Nº Placa: @Model.Vehiculo.Nro_Placa</a>
                        <a>Dia de Restriccion: @Model.Vehiculo.Dia_Restriccion</a>
                        <div>
                            @Html.ActionLink("Edit", "Edit", "Vehiculo", new { id = Model.PersonaId })
                            @Html.ActionLink("Delete", "Delete", "Vehiculo", new { id = Model.PersonaId })
                        </div>
                    </div>
                }
                @if (Model.Vehiculo == null)
                {
                    <div id="addVehiculo" style="display:inline">
                        @Html.ActionLink("Asignar Vehiculo", "Create", "Vehiculo", new { personaid = Model.PersonaId }, new { @class = "btn btn-success" })
                    </div>
                }
            </div>           
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PersonaId }, new { @class="btn btn-warning"}) |
    @Html.ActionLink("Back to List", "Index")
</p>
